
body {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.21;
  color: rgba(0, 0, 0, 0.87);
  background: linear-gradient(45deg, #f1b2ee, #f5d2f7);
  text-align: justify;
}
html{
  scroll-behavior: smooth;
}
img,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
span {
  margin: 0;
}
li,
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* !!overlay */
.image{
  position: relative;
  width: 300px;
}
.image--img{
  display: block;
  width: 100%;
}
.image--overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #d6d5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity:0;
  border-radius: 10px;
}
.image--overlay:hover{
  opacity: 1;
  transition: opacity 0.35s;
} 
.image--title{
  font-size: 2em;
  font-weight: bold;
}
.image--title2{
  font-weight: bold;
  font-size: 2em;
}
.image--description{
  font-size: 15px;
  margin: 15px;
  margin-top: 0.25em;
  color: #ffffff;
}
.animator-item{
  position: relative;
}
/* main title attributes */
.title {
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.04em;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* !0px - 375px */
/*  !  ------------HEDER --------------*/
.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'EB Garamond', serif;
}

.header-logo-link {
  padding: 24px;
}

.header-logo-img {
  width: 100%;
  box-shadow: 1px 2px 20px rgb(0 0 0 / 39%); 
  border-radius: 537px;
}

.header-menu {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 8px;
  padding: 24px 4px;
}

.header-menu-list {
  display: flex;
  column-gap: 4px;
  row-gap: 24px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.header-menu-item {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  padding: 8px 8px;
  background-color: rgba(255, 140, 140, 0.479);
}
.header-menu-link {
  transition: .5s;
}
.header-menu-item:hover {
  background: rgb(0, 255, 191);
  border-color: rgba(26, 26, 26, 0.3);
}
/* .header-menu-link {
  padding: 8px 16px;
  transition: all .3s;
  font-size: 40px;
  text-transform: uppercase;
  flex-wrap: wrap;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 65px;
  margin-bottom: 5px;
}
.header-menu-link:hover {
  transition: 1;
}
.header-menu-link-team:hover {
  width: 100%;
  border: none;
  background-color: #85d4ff;
  color: black;
  border-radius: 65px;
  font-size: 45px;
  
}
.header-menu-link-agency:hover {
  background-color: #ff6f93;
  color: black;
  border-radius: 65px;
  font-size: 45px;
}
.header-menu-link-contact:is(:hover, :focus) {
  background-color: #ffe343;
  outline: none;
  color: black;
  border-radius: 65px;
  font-size: 45px;
} */
/* !button-modal */
button {
  display: block;
  padding: 15px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  border: 1px solid #d4d4d4;
  color: #ebebeb;
  cursor: pointer;
  transition: .5s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.button12{
  display: block;
  padding: 15px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  border: 1px solid #363636;
  color: #000000;
  cursor: pointer;
  transition: .5s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
button:hover {
  background: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.3);
}
/* !/button-modal */
/* !SECTION BIKE */
.bike__column-slider{
  margin-bottom: 8px;
}
.bike__inner{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 12px;
}
.bike__title {
  max-width: 290px;
  margin-bottom: 8px;
}
.bike__subtitle{
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.bike__title-wrapper{
  margin-bottom: 20px;
}
.bike-column__title{
  font-size: 16px;
  color: #000;
}
.bike__text{
  text-align: justify;
  font-size: 19px;
}
.bike__list{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.bike-slider__img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.bike__column-slider {
  box-shadow: 4px 2px 20px rgb(0, 0, 0);
  border-radius: 8px;
}
.bike__list-item{
  font-weight: 700;
  text-transform: uppercase;
  flex-basis: 160px;
  margin-top: 20px;
  font-size: 18px;
  margin-left: 0px;
}
.bike-list-item-place{
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 10px;
  text-transform: lowercase;
  color: rgb(34, 34, 34);
  font-weight: 600;
}
.short-title{
  color: #000000;
  font-weight: 600;
  font-size: 22px;
  justify-content: center;
  display: flex;
}
/* ?modal-winow */
.popup{
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow-y:auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup__area{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content{
  opacity: 1;
  border-radius: 10px;
  transform: perspective(600px) translate(0px, 0%) rotate(0deg);
}
.popup__body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content{
  background-color: rgb(255, 255, 255);
  max-width: 800px;
  color: #000;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotate(45deg);
}
.popup__title{
  font-size: 29px;
  margin: 0px 0px 1em 0px;
}
.popup__text{
  text-align: center;
  font-size: 20px;
}
.popup__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.popup1 {
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup__area1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup1:target {
  opacity: 1;
  visibility: visible;
}

.popup1:target .popup__content1 {
  opacity: 1;
  border-radius: 10px;
  transform: perspective(600px) translate(0px, 0%) rotate(0deg);
}

.popup__body1 {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content1 {
  background-color: rgb(255, 255, 255);
  max-width: 800px;
  color: #000;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotate(45deg);
}

.popup__title1 {
  font-size: 18px;
  margin: 0px 0px 1em 0px;
  text-align: center;
}

.popup__text1 {
  text-align: center;
  font-size: 20px;
}

.popup__close1 {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.images{
  display: block;
  margin: 0 auto;
  border-radius: 7px;
}
.popup__title2{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
/* !open Modal windows */
.openModal {
  margin-top: 50px;
  display: inline-block;
  background-color: #131313;
  color: #000000;
  padding: 28px 81px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  border: 1px rgb(4, 0, 255);
  text-decoration: bold;
}

/* that's all about my srcd button */
.openCar {
  margin-top: 50px;
  display: inline-block;
  background-color: #131313;
  color: #000000;
  padding: 28px 81px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  border: 1px rgb(4, 0, 255);
  text-decoration: bold;
  max-width: 100%;
  text-align: center;

}

.openCar {
  background-color: #b8c9ff;
  transition: all .3s;
  text-decoration: bold;
  max-width: 100%;
  text-align: center;
}

.openCar:hover {
  background-color: #ffda08;
  color: #000000;
  font-size: bold;
  transition: 1;
  border-radius: 80px;
  max-width: 100%;
  text-align: center;
}

.beautiful_bitton {
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
  text-align: center;
}

/* here the place when i am finished to do my button */
/* !SECTION----INFO--SECTION */
.info__title {
  text-align: center;
  margin-bottom: 8px;
}

.info__item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.info section {
  font-size: 22px;
}

.info__item-text {
  font-size: 20px;
  line-height: 20px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 20px;
}

/* !/SECTION----INFO--SECTION */
/* !SECTION -------ANIMATOR */
.animator-title {
  margin-bottom: 12px;
}
.animator-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.animator-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
box-shadow: 2px 5px 70px rgb(255 146 227);
  width: 100%;
  height: 100%;
}
/* !/SECTION------ANIMATOR */
/* !SECTION------window modal*/
.modal-window-section{
  padding-top: 36px;
  padding-bottom: 36px;
}
.modal-window {
  display: block;
  margin: auto;
  padding: 15px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: .5s;
}
.modal-window:hover {
  background: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.3);
}

/* !/SECTION------window modal */
/* !/FOTTER SECTION */
.footer-section {
  background-color: #333;
  padding-top: 36px;
  margin-top: 25px;
}
.footer-title {
  color: inherit;
  margin-bottom: 12px;
  color: rgb(241, 241, 241);
}
.footer-about,
.footer-social,
.footer-social-form-imput {
  margin-bottom: 24px;
}

.footer-wrapper {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(209, 209, 209);
}

.footer-address-item {
  text-align: center;
}

.footer-about-discribe {
  font-size: 16px;
  text-align: justify;
}

.footer-social-discribe {
  font-size: 16px;
  text-align: justify;
  margin-bottom: 4px;
}

.footer-social-form-imput {
  outline: none;
  width: 100%;
  border: #000000;
  height: 24px;
  border-radius: 2px;
}

.ooter-social button[type="submit"] {
  background-color: #fff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.footer-address-list{
  text-align: center;
}
.social-network{
  width: 90px;
  padding-top: 15px;
  padding: 18px;
}
/* !375px -  425px */
@media screen and (min-width: 375px) {
  .images{
    width: 300px;
  }
  .container {
    min-width: 375px;
  }
  .team-section{
    margin-left: auto;
    margin-right: auto;
  }
  .social-network{
    width: 90px;
    padding: 10px;
  }
  .header-menu-item{
    font-size: 42px;
  }
}
/* !425px -  540px */
@media screen and (min-width: 425px) {
  .container {
    min-width: 425px;
  }
  .title{
    font-size: 30px;
  }
}
/* !620px -  768px */
@media screen and (min-width: 768px) {
  /* !header section */
    .container {
      max-width: 768px;
    }
    /*  ?  =============== HEDER =======================*/
    .header-wrapper {
      flex-direction: row;
    }
    .header-logo-link {
      width: 320px;
    }
    .header-menu-list {
      column-gap: 10px;
      flex-direction: row;
    }
    .header-menu-item {
      font-size: 30px;
    }
    /* !SECTIOn-BIKE */
    .title{
      font-size: 36px;
    }
    .info__section{
      padding-top: 36px;
      padding-bottom: 36px;
    }
    .bike__title{
      max-width: 450px;
      font-size: 30px;
    }
    .bike__subtitle{
      font-size: 20px;
    }
    .bike__inner{
      flex-direction: row;
      margin-bottom: 30px;
    }
    .bike__column{
    width: calc((100% - 12px * 1) / 2);
  }
  .bike__text{
    font-size: 17px;
  }
  /* !Section animator */
  .animator-item {
    width: calc((100% - 24px * 1) / 2);
  }
  .info__text{
    text-align: justify;
  }
    /* !FOTTER SECTION */
  .info__text{
    font-size: 20px;
  }
  .footer-wrapper{
    display: flex;
    gap: 12px;
    max-width: 1440px;
  }
  .footer-wrapper-ittem:nth-child(1) {
    order: 1;
  }
  .footer-wrapper-ittem:nth-child(2) {
    order: 3;
  }
  .footer-wrapper-ittem:nth-child(3) {
    order: 2;
  }
  .footer-wrapper-ittem {
    height: 100%;
    width: calc((100% - 12px * 2) / 3);
  }
  .footer-about,
  .footer-social {
    margin-bottom: 0px;
  }
  .footer-social-form-imput{
    margin-bottom: 8px;
  }
  .footer-title {
    font-size: 28px;
  }
  .footer-about-discribe {
    font-size: 14px;
  }
  .footer-social-discribe {
    font-size: 13px;
  }

  .footer-address-item {
    font-size: 20px;
  }

/* !icons */
  .social-network{
    width: 50px;
    padding: 5px;
  }
}
/* !896px -  1024px */
@media screen and (min-width: 1024px) {
  .container {
    min-width: 1023px;
  }

  .header-logo-img {
    width: 320x;
  }

  .header-menu-list {
    column-gap: 14px;
  }

  .header-menu-item {
    font-size: 45px;
  }
  .footer-about-discribe{
    font-size: 16px;
  }
  .footer-social-discribe{
    font-size: 15px;
  }
  /* !SECTION-ANIMATOR */
  .animator-list{
    flex-wrap: nowrap;
    gap: 12px;
  }
  .bike__text{
    font-size: 22px;
  }
  .button{
    font-size: 20px;
    padding: 25px 25px;
  }
  /* !SECTION-ANIMATOR */
}


/* !1024px -  1260px */
@media screen and (min-width: 1260px) {
  .container {
    min-width: 1259px;
  }

  .header-menu-list {
    column-gap: 56px;
  }

  .header-menu-item {
    font-size: 60px;
  }
}
/* !1260px -  1440px */
@media screen and (min-width: 1440px) {
  .container {
    width: 1439px;
  }
  .header-menu-list {
    column-gap: 50px;
  }
  .header-menu-item {
    font-size: 64px;
  }
  .header-logo-link{
    width: 620px;
  }
  .header-menu-item{
    font-size: 47px;
  }
  .bike__text{
    font-size: 28px;
  }
  .footer-about-discribe{
    font-size: 20px;
  }
  .footer-social-discribe{
    font-size: 20px;
  }
  .footer-address-item{
    font-size: 23px;
  }
}
@media(max-width:550px) {
  .mymodal .content {
    width: 90%;
    margin-top: 5px;
    height: 90%;
  }
}